@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');


html{
  scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
  border-radius: 0;
}

body{
  background: linear-gradient(to right, #003e68d3, #000000ef);
}
/*Finalizado*/
@media (min-width: 320px){
  .nav-links li{
    margin: 5px;
  }

  .nav-links{
    font-size: 15px;
    text-align: center;
  }

  .img-navbar{
    padding-left: 45%;
    width: 70px;
  }
  .bg_animate{
    width: 100%;
    height: 90vh;
    position: relative;
    overflow: hidden;
  }
  .contenedor {
    margin-left: 40px;
    margin-right: 20px;
  }
  .banner{
    display:block
    
  }
  .banner_title h2{
    font-size: 35px;
    padding-left: 20px;
  }

  .banner_title h3{
    font-size: 20px;
    padding-left: 10px;
  }
  
  .banner_img img{
    width: 250px;
    padding-left: 10%;
  }
  
  .sec-nosotros{
    padding: 0px;
  }

  .content_nosotros img{
    width: 250px;
  }

  .contenedor_creaciones{
    width: 40%;
    margin-left: 10px;
  }

  .div_creaciones{
    margin-top: 2em;
    padding: 2em;
    width: 75%;
    height: 55%;
    position: absolute;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.30);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    
  }
  .contain_creaciones{
    width: 0%;
  }
  .contain_creaciones p{
    text-align:justify;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 5px 0px 5px;
  
  }

  .title_creaciones{
    font-size: 40px;
    margin-bottom: 15px;
  }

  .banner_img img{
    width: 200px;
    padding-top: 30px;
    padding-left: 10px;
  }

  .banner_img2 img{
    width: 250px;
    padding-left: 15%;
    padding-bottom: 20px;
  }
  .pie-pagina .grupo-1{
    display: grid;
    
  }

  .pie-pagina .grupo-1 .box figure {
    width: 0%;
    height: 0%;
  }
  
  .pie-pagina .grupo-1 .box h2{
    
    font-size: 15px;
  }

  .box{
    text-align: justify;
    
  }
  .pie-pagina .grupo-1 .box figure img{
    width: 0;

  }
}

@media (min-width: 375px){
  .nav-links{
    font-size: 15px;
    text-align: center;
    padding-right: 23px;
  }

  .banner_title h2{
    font-size: 30px;
    padding-left: 5px;
    width: 330px;
    height: 100px;
  }
  .banner_title h3{
    width: 300px;


  }
  .banner_img img{
    padding-top: 30%;
    padding-left: 30%;
  }

  .banner_img2 img{
    padding-left: 35%;
  }

  .content_nosotros img{
    width: 330px;
  }

  .div_creaciones{
    padding: 2em;
  }

}

@media (min-width: 425px){
  .nav-links{
    font-size: 15px;
    text-align: center;
    padding-right: 45px;
  }

  .div_creaciones{
    width: 80%;
    height: 40%;
    padding: 7%;
  }

  .contain_creaciones p{
    font-size: 19px;
  }

  .banner_img2 img{
    width: 300px;
    padding-left: 30%;
  }

}

@media (min-width: 768px) {

  .bg_animate{
    width: 100%;
    height: 105vh;
    position: relative;
    overflow: hidden;
  }

  .navbar{
    display: inline-flex;
    width: 100%;
  }
  .navbar{
    padding-right: 0;
  }

  .nav-links{
    font-size: 17px;
    padding-bottom: 20px;
    padding-right: 40px;
  }
  
  .nav-links li{
    padding-top: 10px;
  }
  
  .banner_title h2{
    font-size: 50px;
    padding-left: 25px;
    width: 530px;
    height: 200px;
  }
  .banner_title h3{
    padding-top: 0px;
    font-size: 30px;
    width: 300px;


  }

  .img-navbar{
    width: 70px;
    padding-left: 60px;
    padding-right: 37%;
    padding-bottom: 1%;
  }

  .banner_img img{
    padding-left: 250px;
    padding-top: 40px;
    width: 250px;
  }

  .content_nosotros img{
    width: 550px;
  }

  .div_creaciones{
    font-weight: 200;
    padding: 5%;
    width: 85%;
    height: 40%;
  }

  .title_creaciones{
    font-size: 45px;
  }

  .contain_creaciones p{
    font-size: 22px;
  }

  .banner_img2 img{
    padding-left: 45%;
    width: 450px;
  }

  .pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pie-pagina .grupo-1 .box figure img {
    padding-left: 150px;
    width: 200px;
  }

}

@media (min-width: 1024px) {

  .bg_animate{
    height: 90vh;
  }

  .navbar{
    display: inline-flex;
    width: 100%;
  }
  .navbar{
    padding-right: 0;
  }

  .nav-links{
    font-size: 25px;
    padding-bottom: 20px;
  }
  
  .nav-links li{
    padding-top: 10px;
  }

  .img-navbar{
    width: 70px;
    padding-left: 60px;
    padding-right: 40%;
    padding-bottom: 1%;
  }

  .banner{
    display:flex;
  }

  .banner2{
    display: block;
  }
  .banner_title h2{
    padding-top: 200px;
    padding-left: 30px;
    margin-bottom: 30px;
    height: 150px;
  }

  .banner_title h3{
    padding-top: 20px;
    padding-left: 30px;
    width: 500px;
  }
  .banner_img img{
    padding-top: 170px;
    padding-left: 80px;
  }

  .div_creaciones{
    margin-left: 200px;
    width: 500px;
  }
  .banner_img2{
    padding-left: 150px;
  }

  .content_nosotros img{
    width: 750px;
  }
  

  .pie-pagina{
    width: 100%;
    background-color: #0a141d;
  }
  .pie-pagina .grupo-1{
    width: 90%;
    max-width: 1300px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:0px;
    padding: 45px 0px;
  }
  .pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pie-pagina .grupo-1 .box figure img{
    padding-left: 100px;
    width: 250px;
  }
  .pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
  }
  .pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
    font-size: 20px;
  }
  .pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
  }
  .pie-pagina .grupo-1 .red-social .fa-facebook{
    transition: all 1s ease;
  }
  .pie-pagina .grupo-1 .red-social .fa-facebook:hover{
    background-color: #4267B2;
    color: #fff;
    transition: all 1s ease;
    border-radius: 50%;
  }
  .pie-pagina .grupo-1 .red-social .fa-whatsapp:hover{
    background-color: #fff;
    color: #25D366;
    transition: all 1s ease;
    border-radius: 50%;
  }
  .pie-pagina .grupo-1 .red-social .fa-whatsapp{
    transition: all 1s ease;
  }
  .pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
  }
  .pie-pagina .grupo-2 small{
    font-size: 15px;
  }
  
}

@media (min-width: 1440px) and (max-width: 1920px) {
  
  .bg_animate{
    height: 100vh;
  }
  .navbar{
    display: inline-flex;
    width: 100%;
  }
  .navbar{
    padding-right: 0;
  }
  .nav-links{
    font-size: 20px;
    padding-bottom: 20px;
  }
  .nav-links li{
    padding-top: 10px;
  }
  .img-navbar{
    width: 80px;
    padding-left: 120px;
    padding-right: 58%;
    padding-bottom: 1%;
  }
  .banner{
    display:flex;
  }
  .banner2{
    display: block;
  }
  .banner_title h2{
    padding-top: 200px;
    margin-bottom: 30px;
    height: 150px;
  }
  .banner_title h3{
    padding-top: 20px;
    width: 500px;
  }
  .banner_img img{
    padding-top: 150px;
    padding-left: 350px;
  }
  .div_creaciones{
    margin-left: 400px;
    margin-left: 150px;
    width: 1000px;
  }
  .banner_img2{
    padding-left: 70%;
  }
  .pie-pagina{
    width: 100%;
    background-color: #0a141d;
  }
  .pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
  }
  .pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pie-pagina .grupo-1 .box figure img{
    width: 250px;
  }
  .pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
  }
  .pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
  }
  .pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
  }
  .pie-pagina .grupo-1 .red-social .fa-facebook{
    transition: all 1s ease;
  }
  .pie-pagina .grupo-1 .red-social .fa-facebook:hover{
    background-color: #4267B2;
    color: #fff;
    transition: all 1s ease;
    border-radius: 50%;
  }
  .pie-pagina .grupo-1 .red-social .fa-whatsapp:hover{
    background-color: #fff;
    color: #25D366;
    transition: all 1s ease;
    border-radius: 50%;
  }
  .pie-pagina .grupo-1 .red-social .fa-whatsapp{
    transition: all 1s ease;
  }
  .pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
  }
  .pie-pagina .grupo-2 small{
    font-size: 15px;
  }
}
/*Finalizado*/












